*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.encabezadoIndex{
    padding: 0.05px;
    background-color: deeppink;
    text-align: center;
    color: white;
    font-size: 7ex;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

.contenidoIndex{
    flex: 70%;
    background-color: rgb(255, 210, 217);
    padding: 20px;
}

.pieIndex{
    padding: 0.05px;
    text-align: center;
    background-color: #333;
    color: white;
}

.imagen{
    width: 800px;
    height: 400px;
}

.imagenEmpresa{
    width: 700px;
    height: 400px;
}

.imagenLogo{
    width: 200px;
    height: 200px;
}

.imagenes{
    padding: 80px;
    width: 350px;
    height: 400px;
}

.productos{
    background-color: rgba(255, 182, 193, 0.815);
}

.compra{
    background-color: palevioletred;
    text-align: center;
    padding: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    background-color: #333;
    padding: 10px;
    border: 2px solid black;
}

.flex-container div{
    background-color: gainsboro;
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
}


@media screen and (max-width: 700px){
    nav,
    .flex-container
    .flex-container div{
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .orden {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.prodtam {
    height: 20rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 3rem;
    width: 3rem;
}